.dishes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
}

.dishes-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.dish-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
